@use "../../../Constant/stiles/variables" as var;

.favorite{
    fill: transparent;
    background-color: transparent;
    border: none;

    &:hover{
        fill: var.$btn-like_hover;
    }

    &_active{
        fill: var.$btn-like_active;;
    
        &:hover{
            fill: var.$btn-like_hover;
        }
    
    }
}


