$btn-color: #ffc300;
$btn-color_hover: #b18b0e;
$btn-color_active: #947306;

$btn-like: #bf0f0f;
$btn-like_hover: #bf0f0f;
$btn-like_active: red;

$discount-price: red;

$discount-bable: red;
$discount-bable_text: white;


$link: black;
$link_hover: #f9f9f9;
$link_active: #858380;

$modal_content: #FA9B00;

$delivery-color: #cbcbcb;