.card{
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
}

.card__img{
    width: 100%;
}

.card__link{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 5px;
    color: currentColor;
    text-decoration: none;
    padding: 5px;
}

.discount{
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 0.4em;
}

.card__stickys{
    display: flex;
    justify-content: space-between;
}

.card__sticky{
    display: flex;
    justify-content: flex-end;
}

.card__sticky_right{
    padding: 2px;

}

.card__sticky_left{
  display: flex;
  padding: 2px;
}

.btn{
    align-self: center;
    padding: 0.4em;
    background-color: #ffc300;
    border-radius: 20px;
    margin-bottom: 5px;
    color: currentColor;
    text-decoration: none;
}

.btn:hover{
    background-color: #b18b0e;
}

.btn:active{
    background-color: #947306;
}

.card__favorite{
    border: none;
    background-color: transparent;
    color: #35080a4d;
    text-shadow: #fff 1px 1px 0, #333 -1px -1px 0;
    font-size: 2em;
}

.card__favorite:hover{
    color:#720f1493;
}

.card__favorite_active{
    color: #ee000ce5;
    text-shadow: #fff 1px 1px 0, #333 -1px -1px 0;
}

.card__favorite_active:hover{
    color: #aa131be5;
}